body{
    background-color: #f8f8f8;
    font-family: "Lato", sans-serif;
}

h1, h2, h3, p {
    text-align: center;
    color: #081116;
    } 

/* Färg på topnav lila */
.topnav {
  background-color: #613182;
  overflow: hidden;
}

.topnav .logo {
    height: 70px; 
    margin-right: 50px; /* Avståndet mellan logotypen och menyn */
    display: flex;
    align-items: center;
  }

/* För länkarna i topnav */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* För att visa den aktivt valda länken */
.topnav a.active {
  background-color: #50468C;
  color: white;
}

/* Göm hamburgarmenyn på små skärmar */
.topnav .icon {
  display: none;
  margin-left: auto; /*För att få hamburgarmenyikonen till höger*/
    cursor: pointer;
}

.grid-container {
  display: grid;
  /* Mobil-first design så de kommer efter varandra */
  grid-template-columns: 1fr;
  gap: 1em; /* mellanrum mellan rader/kolumner men kan ta bort sen */
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
}

.grid-item {
  margin: 1em;
  background-color: rgb(237, 224, 245);
  border-radius: 8px;  /* Rundade hörn */
  padding: 1em; /* Utrymme runt innehållet */
}

.project-container {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;  /* Mobil-first design: En kolumn på mobil */
}

.project-item {
  gap: 1em;
  background-color: rgb(242, 237, 245);
   padding: 1.5em;  /* Mer utrymme runt innehållet (kan ta bort sen) */
  border-radius: 8px;  /* Rundade hörn */
}


/* För min profilbild */
.profile-picture {
    width: 200px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.project-image {
  width: 85%;       /* Tar upp 85% av bredden på förälderelementet */
  height: auto;     /* Behåller proportionerna */
  display: block;   /* Säkerställer att margin fungerar */
  margin: 0 auto;   /* Centrerar bilden */
}

a {
    text-decoration: none;
    padding: 1rem;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.project-link-button {
  color: #ffffff;
  background-color: #50468C;
  border-radius: 10px;
}

.contact-info { 
  display: flex; 
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
} 

.contact-info a {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: #50468C; 
  font-weight: bold;
  text-decoration: none;
}

.contact-info i {
  color: #50468C;
}


/* För när skrämen är mindre än 600px ska alla länkar utom logan gömmas. Eftersom det är mobilläge */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* Detta lägger till en klass "responsive" till topnav med JavaScript så att när användaren trycker på hamburgarmenyn kommer länkarna vertikalt istället för horisontellt */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* När skärmen är större än 600px (desktop) */
@media only screen and (min-width: 601px) {
  /* Börja på första och stäcker sig till mitten*/
.item1 {
  grid-row: 1;
  grid-column: 1 / span 2;

}

.item2 {
  grid-row: 2;
  grid-column: 1;

}

/* Börja på första i mitten och stäcker sig till slutet*/
.item3 {
  grid-row: 2;
  grid-column: 2;
}

/* Börja på andra och stäcker sig över hela*/
.item4 {
  grid-row: 3;
  grid-column: 1/ span 2;
}

/* Börja på tredje och stäcker sig till slutet över hela*/
.item5 {
  grid-row: 4;
  grid-column: 1/ span 2;
}

.project-container {
  grid-template-columns: repeat(2, 1fr);  /* Två kolumner på desktop */
  grid-template-rows: auto auto;  /* Två rader som anpassar sig efter innehåll */
  grid-auto-flow: row;  /* Säkerställer att items flödar rad för rad */
  padding: 5px;
}

}